:root {
  --blue-color: #0057ff;
  --blue-bg: rgba(0,0,0,.5);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

.btn {
  border-radius: 0;
}
.btn:hover {
  box-shadow:0 2px 5px 0 #aaa;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}