.Home {
  background-image: url(https://image.freepik.com/vector-gratis/fondo-abstracto-blanco_23-2148810112.jpg);
  background-size: cover;;
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  position: relative;
}
.Home__buttons {
  margin-top: 2rem;
}